.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
}



.math-container {
    background-color: #e1e1e1;
    border: 1px solid #808080;
    min-width: 19vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .math-container input {
        font-size: 2rem;
        width: 8.5rem;
    }

        .math-container input:focus {
            outline: solid 1px blue;
        }

.number-container {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem ;
    grid-auto-rows: 2rem;
}

    .number-container button {
        width: 3rem;
    }
